.page-not-found {
  margin-top: 3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-not-found__message {
  font-size: 3em;
  font-weight: 700;
}