:root {
  --g-c-primary: #60269d;
  --g-c-primary-light: #8b1070;
  --g-c-secondary: #58585A;
  --g-c-secondary-light: #f0f0f0;
}

html, body, div, span, h1, h2, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--g-c-primary);
}

.container {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}

.button {
  border: 2px solid var(--g-c-primary);
  padding: .8em 1.5em;
  border-radius: 100px;
  color: var(--g-c-primary);
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all linear .2s;
}

.button:hover {
  color: white;
  background-color: var(--g-c-primary);
}

.button--icon .button__text {
  margin-left: .8em;
}